<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smartshelf.pb4j.iot.smartshelf" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddItemActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewShelfActivity"
            android:label="@string/title_activity_view_shelf" >
        </activity>
        <activity
            android:name=".LocateItemActivity"
            android:label="@string/title_activity_locate_item" >
        </activity>
        <activity
            android:name=".ViewScheduleActivity"
            android:label="@string/title_activity_view_schedule" >
        </activity>
    </application>

</manifest>
